$color-primary: #4A849F;
$color-primary-light: #6791b2;
$color-primary-dark: #3f7188;

$color-secondary: #B4D6C6;

$color-foam: #cae2d6;
$color-foam-dark: #9dc9b4;

$color-red: #F2845C;
$color-red-light: rgb(255, 156, 103);
$color-red-dark: #D50000;

$color-green-neon: #47fe47;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-grey-dark: #555;
$color-grey-light: #ddd;
$color-white: #f7f7f7;

$color-black: #222;
$color-black-light: #333;

$color-nav: $color-white;

$R-gradient-1: radial-gradient(#1B3440, #4A849F);
