.bio {

  &__content {
    // font-family: Arial, Helvetica, sans-serif;
    // font-size: 1.5rem;
  }

  &__para {
    margin: 1rem;
    text-align: justify; 
  }
}

.reviews {
  height: 70rem;
  background-image: url(../../public/upside-down.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  &__review {
    color: $color-white;
    margin: 2rem;
    text-align: center;
  }
}